.container {
  margin: 2rem;

  h2 {
    margin: 1rem;
    border-bottom: 0.5px dotted #000;
    width: 12rem;
    text-align: center;
  }

  >div {
    display: flex;

    ul {
      list-style: none;
    
      li {
        margin: .9rem 1rem;
        font-size: 1.1rem;

        input {
          width: 30rem;
          font-size: 1.1rem;

          border: none;
          border-bottom: 1px solid #000;
        }
        input:focus{
          box-shadow: 0 0 0 0;
          outline: 0;
          border-bottom: 2px solid rgb(236, 64, 64);
        }
      }
      li:first-child {
        
        input {
          width: 4rem;
        }
      }
      li:last-child {
        
        input {
          width: 8rem;
        }
      }
    }
    ul:first-child {
      
      li {
        margin-top: 1rem;
      }
    }
  }

  button {
    margin: 1rem;
    padding: .5rem;

    cursor: pointer;
  }
}


@media screen and (max-width: 960px) {
  .container {
    margin: 1rem;

    >div {
      ul {
      
        li {
  
          input {
            width: 25rem;
          }
  
        }
    }
    }
  }
}

@media screen and (max-width: 590px) {
  .container {
    >div {
      ul {
      
        li {
          margin: .7rem .3rem;

          input {
            width: 20rem;
          }
  
        }
    }
    }
}
}

@media screen and (max-width: 450px) {
  .container {
   
    >div {
      ul {
      
        li {
          margin: .7rem .3rem;
  
          input {
            width: 15rem;
          }
  
        }
    }

    ul:last-child {
      
      li {
        margin-top: 0.9rem;
      }
    }
    }
    
  }
}


@media screen and (max-width: 360px) {
  .container {
   
    >div {
      ul {
      
        li {
          font-size: 1rem;
  
          input {
            width: 12rem;
          }
  
        }
    }
    }
    
  }
}

.inputError {
  border: 1px solid red
}