.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;

  > img {
    width: 14rem;

  }

  >div {
    margin-left: 3rem;

    h1 {
      padding-bottom: .5rem;
    }
  }
 
}

@media screen and (max-width: 960px) {
  .container {
    margin: 1rem;

    > img {
      width: 13rem;
  
    }
  
    >div {
      margin-left: 2rem;
  
     h3 {
       font-size: 1rem;
     }
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    margin: 1rem;

    >div {
      margin-left: 2rem;
  
     h3 {
       font-size: 1rem;
       width: 20rem;
     }
    }
  }
}

@media screen and (max-width: 360px) {
  .container {
  
    margin: 1rem;
  }
}